<!DOCTYPE html>
<html>
<head>
    <title>Obfuscation Tool</title>
</head>
<body>
    <h1>Obfuscation Tool</h1>
    <form method="POST" action="/" enctype="multipart/form-data">
        <label for="file">Select a Python file:</label><br>
        <input type="file" id="file" name="file"><br><br>
        <label for="inject_junk">Inject junk code?</label>
        <input type="checkbox" id="inject_junk" name="inject_junk" value="y"><br><br>
        <input type="submit" value="Obfuscate and Download">
    </form>
</body>
</html>
